In [1]:
import pandas as pd
print("Pandas imported successfully, version: "+pd.__version__)
import scipy as sm
from scipy.stats import *
print("SciPy imported successfully, version: "+sm.__version__)
import plotly
print("Plotly imported successfully, version: "+plotly.__version__)
from plotly.graph_objs import * # for importing the different types of plots

from sklearn.decomposition import PCA #For performing principle component analysis

# The following are necessary to run plotly in an offline mode, because its otherwise an online plotting library
from plotly.graph_objs import Scatter, Layout
plotly.offline.init_notebook_mode(connected=True)

Pandas imported successfully, version: 0.23.4
SciPy imported successfully, version: 1.1.0
Plotly imported successfully, version: 3.4.2

In [2]:
#Importuoju savo rats duomenis
data_all = pd.read_csv("/home/emilija/Dokumentai/Magistras/SinBio/Sinbio-projektas/Pilni_ziurkiu_duomenys.csv")

In [3]:
#Pasiziuriu, kas cia gero
data_all
#Atrodo viskas ok

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
0,R132,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,73.000000,130.000000,158.000000,33.000000,18.000000,sub.,"Tvartas, laikomos vištos",Ne,Ne
1,R133,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,35.000000,105.000000,127.000000,28.000000,15.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
2,R155,R.rattus,"Zarasų raj., Pakniškių km.",2014.11.05,mot.,67.000000,137.000000,149.000000,34.000000,18.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
3,R157,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,mot.,86.000000,158.000000,187.000000,34.000000,18.000000,sub.,Gyvenamasis namas,Ne,Ne
4,R158,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,mot.,55.000000,124.000000,146.000000,32.000000,17.000000,juv.,Gyvenamasis namas,Ne,Ne
5,R159,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,vyr.,79.000000,140.000000,170.000000,33.000000,21.000000,juv.,Gyvenamasis namas,Ne,Ne
6,R160,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.03,mot.,35.000000,115.000000,128.000000,28.000000,16.000000,juv.,Gyvenamasis namas,Ne,Ne
7,R161,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.03,vyr.,32.000000,110.000000,121.000000,29.000000,17.000000,juv.,Gyvenamasis namas,Ne,Taip
8,R162,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.12,mot.,35.000000,113.000000,127.000000,29.000000,16.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
9,R163,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.12,mot.,21.000000,88.000000,101.000000,23.000000,15.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
10,R164,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,mot.,111.000000,178.610990,202.000000,38.000000,18.000000,ad.,"Tvartas, laikomos vištos",Ne,Ne
11,R165,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,mot.,28.000000,98.000000,134.000000,29.000000,17.000000,juv.,"Tvartas, laikomos vištos",Ne,Taip
12,R166,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,mot.,30.000000,101.000000,127.000000,27.000000,18.000000,juv.,"Tvartas, laikomos vištos",Ne,Taip
13,R167,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,vyr.,45.536869,124.817069,134.000000,30.000000,17.158561,juv.,"Tvartas, laikomos vištos",Ne,Ne
14,R168,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.14,vyr.,32.000000,110.000000,124.000000,30.000000,17.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
15,R169,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.14,vyr.,24.000000,103.000000,113.000000,26.000000,15.000000,juv.,"Tvartas, laikomos vištos",Ne,Taip
16,R171,R.norvegicus,Vilniaus raj.,2015.02.15,vyr.,351.000000,227.000000,216.000000,42.000000,19.000000,ad.,"Tvartas, laikomos kiaulės",Ne,Ne
17,R172,R.norvegicus,Vilniaus raj.,2015.02.16,vyr.,421.000000,249.000000,172.000000,42.000000,21.000000,ad.,"Tvartas, laikomos kiaulės",Ne,Ne
18,R173,R.norvegicus,Vilniaus raj.,2015.02.17,vyr.,384.000000,235.000000,200.000000,41.000000,20.000000,ad.,"Tvartas, laikomos kiaulės",Ne,Ne
19,R174,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,285.000000,211.000000,175.000000,39.000000,17.000000,ad.,Kiaulių auginimo kompleksas,Taip,Ne
20,R175,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,mot.,292.000000,202.000000,175.000000,40.000000,20.000000,ad.,Kiaulių auginimo kompleksas,Taip,Ne
21,R176,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,433.000000,235.000000,205.000000,45.000000,18.000000,ad.,Kiaulių auginimo kompleksas,Taip,Ne
22,R177,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,435.000000,242.000000,195.000000,44.000000,19.929638,ad.,Kiaulių auginimo kompleksas,Ne,Ne
23,R178,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,408.000000,230.000000,179.000000,42.000000,22.000000,ad.,Kiaulių auginimo kompleksas,Ne,Ne
24,R179,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,332.000000,220.000000,192.000000,40.000000,20.000000,ad.,Kiaulių auginimo kompleksas,Ne,Ne
25,R180,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,vyr.,105.000000,165.000000,186.000000,32.000000,21.000000,sub.,"Tvartas, laikomos karvės",Ne,Ne
26,R181,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,vyr.,111.000000,173.000000,194.000000,33.000000,18.000000,ad.,"Tvartas, laikomos karvės",Ne,Ne
27,R182,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,vyr.,107.000000,162.000000,162.000000,33.000000,18.000000,ad.,"Tvartas, laikomos karvės",Ne,Ne
28,R183,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,mot.,98.000000,165.000000,190.000000,35.000000,21.000000,sub.,"Tvartas, laikomos karvės",Ne,Ne
29,R184,R.rattus,"Zarasų raj., Pakniškių km.",2016.01.10,mot.,140.000000,179.000000,220.000000,36.000000,24.000000,ad.,"Tvartas, laikomos karvės",Ne,Ne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,R208,R.rattus,"Zarasų raj., Pakniškių km.",2016.11.02,vyr.,230.000000,202.000000,201.000000,37.000000,27.000000,ad.,"Tvartas, laikomos vištos",Ne,Ne
51,R209,R.rattus,"Zarasų raj., Pakniškių km.",2017.04.05-07,vyr.,154.000000,166.673643,165.074978,35.077765,18.914919,ad.,"Tvartas, laikomos vištos",Ne,Ne
52,R210,R.rattus,"Zarasų raj., Pakniškių km.",2017.04.05-07,mot.,82.000000,142.749506,153.470559,32.215940,18.431860,sub.,"Tvartas, laikomos vištos",Ne,Ne
53,R211,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,92.000000,146.072303,155.082284,32.613416,18.498951,sub.,"Tvartas, laikomos vištos",Ne,Ne
54,R212,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,42.000000,129.458319,147.023659,30.626037,18.163494,juv.,"Tvartas, laikomos vištos",Ne,Ne
55,R213,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,177.000000,174.316076,168.781946,35.991959,19.069229,ad.,"Tvartas, laikomos vištos",Ne,Ne
56,R214,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,vyr.,75.000000,140.423548,152.342351,31.937707,18.384896,juv.,"Tvartas, laikomos vištos",Ne,Ne
57,R215,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,vyr.,48.000000,131.451997,147.990694,30.864523,18.203749,juv.,"Tvartas, laikomos vištos",Ne,Ne
58,R216,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,mot.,41.000000,129.126039,146.862486,30.586290,18.156785,juv.,"Tvartas, laikomos vištos",Ne,Ne
59,R217,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.20,mot.,138.000000,161.357168,162.496218,34.441804,18.807572,ad.,"Tvartas, laikomos vištos",Ne,Ne
60,R218,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.20,mot.,77.000000,141.088108,152.664696,32.017202,18.398314,juv.,"Tvartas, laikomos vištos",Taip,Ne
61,R219,R.rattus,"Zarasų raj., Pakniškių km.",2017.05.01,vyr.,136.000000,160.692609,162.173873,34.362309,18.794154,ad.,"Tvartas, laikomos vištos",Ne,Ne
62,R220,R.rattus,"Zarasų raj., Pakniškių km.",2017.05.01,mot.,83.000000,143.081786,153.631731,32.255688,18.438569,sub.,"Tvartas, laikomos vištos",Ne,Ne
63,R221,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.25,mot.,33.000000,126.467802,145.573106,30.268309,18.103112,juv.,"Tvartas, laikomos vištos",Ne,Ne
64,R222,R.rattus,"Zarasų raj., Pakniškių km.",2017.07.08,mot.,137.000000,161.024889,162.335046,34.402056,18.800863,ad.,"Tvartas, laikomos vištos",Ne,Ne
65,R223,R.rattus,"Zarasų raj., Pakniškių km.",2017.07.08,mot.,122.000000,156.040693,159.917459,33.805843,18.700226,sub.,"Tvartas, laikomos vištos",Ne,Ne
66,R224,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,369.000000,230.000000,199.000000,45.000000,18.000000,ad.,Paukštynas,Ne,Ne
67,R225,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,231.000000,186.000000,174.000000,40.000000,20.000000,ad.,Paukštynas,Ne,Ne
68,R226,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,384.000000,245.000000,200.000000,47.000000,20.000000,ad.,Paukštynas,Taip,Ne
69,R227,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,286.000000,209.000000,185.403075,40.000000,19.788912,ad.,Paukštynas,Ne,Taip
70,R228,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,336.000000,240.000000,160.000000,42.000000,21.000000,ad.,Paukštynas,Ne,Ne
71,R229,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,305.000000,225.000000,190.000000,45.000000,18.000000,ad.,Paukštynas,Ne,Ne
72,R230,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,252.000000,200.000000,170.000000,40.000000,20.000000,ad.,Paukštynas,Taip,Ne
73,R231,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,80.000000,150.000000,115.000000,35.000000,17.000000,sub.,Paukštynas,Ne,Ne
74,R232,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,102.000000,167.000000,125.000000,32.000000,11.000000,sub.,Paukštynas,Ne,Ne
75,R233,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,73.000000,145.000000,120.000000,35.000000,18.000000,juv.,Paukštynas,Ne,Ne
76,R234,R.rattus,"Zarasų raj., Antazavės gyv.",2017.09.20,mot.,104.000000,165.000000,160.000000,32.000000,20.000000,sub.,"Tvartas, laikomos karvės",Ne,Ne
77,R235,R.rattus,"Zarasų raj., Dusetų gyv.",2017.09.28,mot.,130.000000,170.000000,176.000000,35.000000,19.000000,sub.,"Ūkinis pastatas, gyvūnų nelaikoma",Ne,Ne
78,R236,R.rattus,"Zarasų raj., Pakniškių km.",2017.09.30,mot.,137.000000,170.000000,195.000000,36.000000,25.000000,sub.,"Tvartas, laikomos vištos",Ne,Ne
79,R237,R.rattus,"Zarasų raj., Pakniškių km.",2017.10.01,vyr.,47.000000,130.000000,135.000000,32.000000,21.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne

In [4]:
data_all.describe()

            Q(g.)       L(mm)     Luo(mm)      P(mm)      A(mm)
count   80.000000   80.000000   80.000000  80.000000  80.000000
mean   151.744211  165.380657  164.272802  34.918336  18.809298
std    117.636167   41.535664   29.110053   5.145127   2.752830
min     21.000000   88.000000  101.000000  23.000000  11.000000
25%     65.750000  131.338998  146.646865  31.984427  18.000000
50%    109.000000  163.500000  163.748109  34.382182  18.468760
75%    231.500000  197.750000  187.500000  39.250000  20.000000
max    435.000000  249.000000  231.000000  47.000000  27.000000

In [5]:
data_all.describe(include='all')

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
count,80,80,80,80,80,80.000000,80.000000,80.000000,80.000000,80.000000,80,80,80,80
unique,80,2,10,36,2,NaN,NaN,NaN,NaN,NaN,3,8,2,2
top,R202,R.rattus,"Zarasų raj., Pakniškių km.",2017.09.07,vyr.,NaN,NaN,NaN,NaN,NaN,ad.,"Tvartas, laikomos vištos",Ne,Ne
freq,1,54,46,10,42,NaN,NaN,NaN,NaN,NaN,36,39,70,75
mean,NaN,NaN,NaN,NaN,NaN,151.744211,165.380657,164.272802,34.918336,18.809298,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,117.636167,41.535664,29.110053,5.145127,2.752830,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,21.000000,88.000000,101.000000,23.000000,11.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,65.750000,131.338998,146.646865,31.984427,18.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,109.000000,163.500000,163.748109,34.382182,18.468760,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,231.500000,197.750000,187.500000,39.250000,20.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,435.000000,249.000000,231.000000,47.000000,27.000000,NaN,NaN,NaN,NaN

In [6]:
data_all.Rūšis.describe()

count           80
unique           2
top       R.rattus
freq            54
Name: Rūšis, dtype: object

In [7]:
data_all.Vieta.describe()

count                             80
unique                            10
top       Zarasų raj., Pakniškių km.
freq                              46
Name: Vieta, dtype: object

In [8]:
data_all.Lytis.describe()

count       80
unique       2
top       vyr.
freq        42
Name: Lytis, dtype: object

In [9]:
data_all.Amžius.describe()

count      80
unique      3
top       ad.
freq       36
Name: Amžius, dtype: object

In [10]:
data_all.iloc[:,3].describe()

count             80
unique            36
top       2017.09.07
freq              10
Name: Pagavimo_data, dtype: object

In [11]:
data_all.Pastabos.describe()

count                           80
unique                           8
top       Tvartas, laikomos vištos
freq                            39
Name: Pastabos, dtype: object

In [12]:
data_all.RatPyV1.describe()

count     80
unique     2
top       Ne
freq      70
Name: RatPyV1, dtype: object

In [13]:
data_all.RatPyV2.describe()

count     80
unique     2
top       Ne
freq      75
Name: RatPyV2, dtype: object

In [14]:
data_all.Pagavimo_data.min()

'2014.01.03'

In [15]:
data_all.Pagavimo_data.max()

'2017.10.01'

In [16]:
data_all.head()

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
0,R132,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,73.0,130.0,158.0,33.0,18.0,sub.,"Tvartas, laikomos vištos",Ne,Ne
1,R133,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,35.0,105.0,127.0,28.0,15.0,juv.,"Tvartas, laikomos vištos",Ne,Ne
2,R155,R.rattus,"Zarasų raj., Pakniškių km.",2014.11.05,mot.,67.0,137.0,149.0,34.0,18.0,juv.,"Tvartas, laikomos vištos",Ne,Ne
3,R157,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,mot.,86.0,158.0,187.0,34.0,18.0,sub.,Gyvenamasis namas,Ne,Ne
4,R158,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,mot.,55.0,124.0,146.0,32.0,17.0,juv.,Gyvenamasis namas,Ne,Ne

In [17]:
data_all.Nr.min()

'R132'

In [18]:
data_all.Nr.max()

'R237'

In [19]:
data_all.Nr.count()

80

In [20]:
data_all.Rūšis.unique()

array(['R.rattus', 'R.norvegicus'], dtype=object)

In [21]:
data_all.Vieta.unique()

array(['Zarasų raj., Pakniškių km.', 'Vilniaus raj.',
       'Grubupių km., Šilutės raj. ', 'Zarasų raj., Antazavės gyv.',
       'Vilnius, senamiestis', 'Vilnius, Gedimino pr.',
       'Joniškio raj., Šarūnų km.', 'Rokiškio raj., Kovelių km.',
       'Rokiškio raj., Laibgalių km.', 'Zarasų raj., Dusetų gyv.'],
      dtype=object)

In [22]:
data_all.Vieta.describe()

count                             80
unique                            10
top       Zarasų raj., Pakniškių km.
freq                              46
Name: Vieta, dtype: object

In [23]:
data_all.Pagavimo_data.describe()

count             80
unique            36
top       2017.09.07
freq              10
Name: Pagavimo_data, dtype: object

In [24]:
data_all.Vieta.isna().sum()

0

In [25]:
data_all.Lytis.isna().sum()

0

In [26]:
data_all.Amžius.unique()

array(['sub.', 'juv.', 'ad.'], dtype=object)

In [27]:
data_all.Amžius.value_counts()

ad.     36
juv.    27
sub.    17
Name: Amžius, dtype: int64

In [28]:
data_all.Amžius.isna().sum()

0

In [29]:
data_all.Rūšis.value_counts()

R.rattus        54
R.norvegicus    26
Name: Rūšis, dtype: int64

In [30]:
data_all.Vieta.value_counts()

Zarasų raj., Pakniškių km.      46
Rokiškio raj., Laibgalių km.    10
Zarasų raj., Antazavės gyv.      7
Grubupių km., Šilutės raj.       6
Vilniaus raj.                    4
Joniškio raj., Šarūnų km.        3
Vilnius, senamiestis             1
Vilnius, Gedimino pr.            1
Rokiškio raj., Kovelių km.       1
Zarasų raj., Dusetų gyv.         1
Name: Vieta, dtype: int64

In [31]:
data_all.Pagavimo_data.value_counts()

2017.09.07          10
2014.01.03           6
2016.09.27           5
2016.01.09           4
2016.08.31           4
2015.10.13           4
2017.03.04-07        3
2015.10.02           3
2017.03.31           3
2015.10.03           2
2017.07.08           2
2017.05.01           2
2015.10.12           2
2017.02.20           2
2017.04.05-07        2
2015.10.14           2
2015.08.26           2
2016.09.15           2
2014.11.05           2
2016.01.10           2
2017.02.25           1
2014.11.06           1
2014.09.29-10.21     1
2015.02.17           1
2017.10.01           1
2015.02.16           1
2015.02.15           1
2015.03              1
2015.10.05           1
2016.02.05           1
2016.04.01           1
2017.09.30           1
2017.09.28           1
2016.11.02           1
2014.09.29-10.22     1
2017.09.20           1
Name: Pagavimo_data, dtype: int64

In [32]:
data_all.Lytis.value_counts()

vyr.    42
mot.    38
Name: Lytis, dtype: int64

In [33]:
data_all.Amžius.value_counts()

ad.     36
juv.    27
sub.    17
Name: Amžius, dtype: int64

In [34]:
data_all.Pastabos.value_counts()

Tvartas, laikomos vištos             39
Paukštynas                           11
Tvartas, laikomos karvės              9
Gyvenamasis namas                     7
Kiaulių auginimo kompleksas           6
Tvartas, laikomos kiaulės             4
Tvartas, laikomos karvės, kiaulės     3
Ūkinis pastatas, gyvūnų nelaikoma     1
Name: Pastabos, dtype: int64

In [35]:
data_all.Pastabos.isna().sum()

0

In [36]:
data_all.RatPyV1.isna().sum()

0

In [37]:
data_all.RatPyV1.value_counts()

Ne      70
Taip    10
Name: RatPyV1, dtype: int64

In [38]:
data_all.RatPyV2.value_counts()

Ne      75
Taip     5
Name: RatPyV2, dtype: int64

In [39]:
data_all.RatPyV2.isna().sum()

0

In [40]:
data_all.Pastabos.unique()

array(['Tvartas, laikomos vištos', 'Gyvenamasis namas',
       'Tvartas, laikomos kiaulės', 'Kiaulių auginimo kompleksas',
       'Tvartas, laikomos karvės', 'Tvartas, laikomos karvės, kiaulės',
       'Paukštynas', 'Ūkinis pastatas, gyvūnų nelaikoma'], dtype=object)

In [41]:
data_all

,Nr,Rūšis,Vieta,Pagavimo_data,Lytis,Q(g.),L(mm),Luo(mm),P(mm),A(mm),Amžius,Pastabos,RatPyV1,RatPyV2
0,R132,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,73.000000,130.000000,158.000000,33.000000,18.000000,sub.,"Tvartas, laikomos vištos",Ne,Ne
1,R133,R.rattus,"Zarasų raj., Pakniškių km.",2015.08.26,mot.,35.000000,105.000000,127.000000,28.000000,15.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
2,R155,R.rattus,"Zarasų raj., Pakniškių km.",2014.11.05,mot.,67.000000,137.000000,149.000000,34.000000,18.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
3,R157,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,mot.,86.000000,158.000000,187.000000,34.000000,18.000000,sub.,Gyvenamasis namas,Ne,Ne
4,R158,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,mot.,55.000000,124.000000,146.000000,32.000000,17.000000,juv.,Gyvenamasis namas,Ne,Ne
5,R159,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.02,vyr.,79.000000,140.000000,170.000000,33.000000,21.000000,juv.,Gyvenamasis namas,Ne,Ne
6,R160,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.03,mot.,35.000000,115.000000,128.000000,28.000000,16.000000,juv.,Gyvenamasis namas,Ne,Ne
7,R161,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.03,vyr.,32.000000,110.000000,121.000000,29.000000,17.000000,juv.,Gyvenamasis namas,Ne,Taip
8,R162,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.12,mot.,35.000000,113.000000,127.000000,29.000000,16.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
9,R163,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.12,mot.,21.000000,88.000000,101.000000,23.000000,15.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
10,R164,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,mot.,111.000000,178.610990,202.000000,38.000000,18.000000,ad.,"Tvartas, laikomos vištos",Ne,Ne
11,R165,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,mot.,28.000000,98.000000,134.000000,29.000000,17.000000,juv.,"Tvartas, laikomos vištos",Ne,Taip
12,R166,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,mot.,30.000000,101.000000,127.000000,27.000000,18.000000,juv.,"Tvartas, laikomos vištos",Ne,Taip
13,R167,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.13,vyr.,45.536869,124.817069,134.000000,30.000000,17.158561,juv.,"Tvartas, laikomos vištos",Ne,Ne
14,R168,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.14,vyr.,32.000000,110.000000,124.000000,30.000000,17.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne
15,R169,R.rattus,"Zarasų raj., Pakniškių km.",2015.10.14,vyr.,24.000000,103.000000,113.000000,26.000000,15.000000,juv.,"Tvartas, laikomos vištos",Ne,Taip
16,R171,R.norvegicus,Vilniaus raj.,2015.02.15,vyr.,351.000000,227.000000,216.000000,42.000000,19.000000,ad.,"Tvartas, laikomos kiaulės",Ne,Ne
17,R172,R.norvegicus,Vilniaus raj.,2015.02.16,vyr.,421.000000,249.000000,172.000000,42.000000,21.000000,ad.,"Tvartas, laikomos kiaulės",Ne,Ne
18,R173,R.norvegicus,Vilniaus raj.,2015.02.17,vyr.,384.000000,235.000000,200.000000,41.000000,20.000000,ad.,"Tvartas, laikomos kiaulės",Ne,Ne
19,R174,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,285.000000,211.000000,175.000000,39.000000,17.000000,ad.,Kiaulių auginimo kompleksas,Taip,Ne
20,R175,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,mot.,292.000000,202.000000,175.000000,40.000000,20.000000,ad.,Kiaulių auginimo kompleksas,Taip,Ne
21,R176,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,433.000000,235.000000,205.000000,45.000000,18.000000,ad.,Kiaulių auginimo kompleksas,Taip,Ne
22,R177,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,435.000000,242.000000,195.000000,44.000000,19.929638,ad.,Kiaulių auginimo kompleksas,Ne,Ne
23,R178,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,408.000000,230.000000,179.000000,42.000000,22.000000,ad.,Kiaulių auginimo kompleksas,Ne,Ne
24,R179,R.norvegicus,"Grubupių km., Šilutės raj.",2014.01.03,vyr.,332.000000,220.000000,192.000000,40.000000,20.000000,ad.,Kiaulių auginimo kompleksas,Ne,Ne
25,R180,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,vyr.,105.000000,165.000000,186.000000,32.000000,21.000000,sub.,"Tvartas, laikomos karvės",Ne,Ne
26,R181,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,vyr.,111.000000,173.000000,194.000000,33.000000,18.000000,ad.,"Tvartas, laikomos karvės",Ne,Ne
27,R182,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,vyr.,107.000000,162.000000,162.000000,33.000000,18.000000,ad.,"Tvartas, laikomos karvės",Ne,Ne
28,R183,R.rattus,"Zarasų raj., Antazavės gyv.",2016.01.09,mot.,98.000000,165.000000,190.000000,35.000000,21.000000,sub.,"Tvartas, laikomos karvės",Ne,Ne
29,R184,R.rattus,"Zarasų raj., Pakniškių km.",2016.01.10,mot.,140.000000,179.000000,220.000000,36.000000,24.000000,ad.,"Tvartas, laikomos karvės",Ne,Ne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,R208,R.rattus,"Zarasų raj., Pakniškių km.",2016.11.02,vyr.,230.000000,202.000000,201.000000,37.000000,27.000000,ad.,"Tvartas, laikomos vištos",Ne,Ne
51,R209,R.rattus,"Zarasų raj., Pakniškių km.",2017.04.05-07,vyr.,154.000000,166.673643,165.074978,35.077765,18.914919,ad.,"Tvartas, laikomos vištos",Ne,Ne
52,R210,R.rattus,"Zarasų raj., Pakniškių km.",2017.04.05-07,mot.,82.000000,142.749506,153.470559,32.215940,18.431860,sub.,"Tvartas, laikomos vištos",Ne,Ne
53,R211,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,92.000000,146.072303,155.082284,32.613416,18.498951,sub.,"Tvartas, laikomos vištos",Ne,Ne
54,R212,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,42.000000,129.458319,147.023659,30.626037,18.163494,juv.,"Tvartas, laikomos vištos",Ne,Ne
55,R213,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.04-07,mot.,177.000000,174.316076,168.781946,35.991959,19.069229,ad.,"Tvartas, laikomos vištos",Ne,Ne
56,R214,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,vyr.,75.000000,140.423548,152.342351,31.937707,18.384896,juv.,"Tvartas, laikomos vištos",Ne,Ne
57,R215,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,vyr.,48.000000,131.451997,147.990694,30.864523,18.203749,juv.,"Tvartas, laikomos vištos",Ne,Ne
58,R216,R.rattus,"Zarasų raj., Pakniškių km.",2017.03.31,mot.,41.000000,129.126039,146.862486,30.586290,18.156785,juv.,"Tvartas, laikomos vištos",Ne,Ne
59,R217,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.20,mot.,138.000000,161.357168,162.496218,34.441804,18.807572,ad.,"Tvartas, laikomos vištos",Ne,Ne
60,R218,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.20,mot.,77.000000,141.088108,152.664696,32.017202,18.398314,juv.,"Tvartas, laikomos vištos",Taip,Ne
61,R219,R.rattus,"Zarasų raj., Pakniškių km.",2017.05.01,vyr.,136.000000,160.692609,162.173873,34.362309,18.794154,ad.,"Tvartas, laikomos vištos",Ne,Ne
62,R220,R.rattus,"Zarasų raj., Pakniškių km.",2017.05.01,mot.,83.000000,143.081786,153.631731,32.255688,18.438569,sub.,"Tvartas, laikomos vištos",Ne,Ne
63,R221,R.rattus,"Zarasų raj., Pakniškių km.",2017.02.25,mot.,33.000000,126.467802,145.573106,30.268309,18.103112,juv.,"Tvartas, laikomos vištos",Ne,Ne
64,R222,R.rattus,"Zarasų raj., Pakniškių km.",2017.07.08,mot.,137.000000,161.024889,162.335046,34.402056,18.800863,ad.,"Tvartas, laikomos vištos",Ne,Ne
65,R223,R.rattus,"Zarasų raj., Pakniškių km.",2017.07.08,mot.,122.000000,156.040693,159.917459,33.805843,18.700226,sub.,"Tvartas, laikomos vištos",Ne,Ne
66,R224,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,369.000000,230.000000,199.000000,45.000000,18.000000,ad.,Paukštynas,Ne,Ne
67,R225,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,231.000000,186.000000,174.000000,40.000000,20.000000,ad.,Paukštynas,Ne,Ne
68,R226,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,384.000000,245.000000,200.000000,47.000000,20.000000,ad.,Paukštynas,Taip,Ne
69,R227,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,286.000000,209.000000,185.403075,40.000000,19.788912,ad.,Paukštynas,Ne,Taip
70,R228,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,336.000000,240.000000,160.000000,42.000000,21.000000,ad.,Paukštynas,Ne,Ne
71,R229,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,305.000000,225.000000,190.000000,45.000000,18.000000,ad.,Paukštynas,Ne,Ne
72,R230,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,252.000000,200.000000,170.000000,40.000000,20.000000,ad.,Paukštynas,Taip,Ne
73,R231,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,mot.,80.000000,150.000000,115.000000,35.000000,17.000000,sub.,Paukštynas,Ne,Ne
74,R232,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,102.000000,167.000000,125.000000,32.000000,11.000000,sub.,Paukštynas,Ne,Ne
75,R233,R.norvegicus,"Rokiškio raj., Laibgalių km.",2017.09.07,vyr.,73.000000,145.000000,120.000000,35.000000,18.000000,juv.,Paukštynas,Ne,Ne
76,R234,R.rattus,"Zarasų raj., Antazavės gyv.",2017.09.20,mot.,104.000000,165.000000,160.000000,32.000000,20.000000,sub.,"Tvartas, laikomos karvės",Ne,Ne
77,R235,R.rattus,"Zarasų raj., Dusetų gyv.",2017.09.28,mot.,130.000000,170.000000,176.000000,35.000000,19.000000,sub.,"Ūkinis pastatas, gyvūnų nelaikoma",Ne,Ne
78,R236,R.rattus,"Zarasų raj., Pakniškių km.",2017.09.30,mot.,137.000000,170.000000,195.000000,36.000000,25.000000,sub.,"Tvartas, laikomos vištos",Ne,Ne
79,R237,R.rattus,"Zarasų raj., Pakniškių km.",2017.10.01,vyr.,47.000000,130.000000,135.000000,32.000000,21.000000,juv.,"Tvartas, laikomos vištos",Ne,Ne

In [73]:
k2, p = stats.normaltest(data_all.iloc[:, 5:10])
print(k2, p)

[11.00806817  5.5576711   2.71904514  1.65775832  7.00107068] [0.00407032 0.06211079 0.25678334 0.4365383  0.03018122]

In [78]:
stats.normaltest(data_all.iloc[:, 5:10])

NormaltestResult(statistic=array([11.00806817,  5.5576711 ,  2.71904514,  1.65775832,  7.00107068]), pvalue=array([0.00407032, 0.06211079, 0.25678334, 0.4365383 , 0.03018122]))

In [69]:
from plotly import figure_factory as FF
import plotly.plotly as py

x = data_all['Q(g.)'] 
shapiro_results = sm.stats.shapiro(x)
sm.stats.shapiro(x)

(0.8681939244270325, 6.972805408622662e-07)

In [71]:
y = data_all['L(mm)'] 
sm.stats.shapiro(y)

(0.9682761430740356, 0.044089239090681076)

In [72]:
a = data_all['Luo(mm)'] 
sm.stats.shapiro(a)

(0.9834503531455994, 0.38999560475349426)

In [74]:
p = data_all['P(mm)'] 
sm.stats.shapiro(p)

(0.9766839742660522, 0.15141482651233673)

In [75]:
au = data_all['A(mm)'] 
sm.stats.shapiro(au)

(0.9369902610778809, 0.0006667812122032046)